.hero {
  min-height: 70vh;
  background: var(--Brand-Purple-Light, #ece8ff);
}

.hero-section {
  padding: 190px 0px 70px 0px;
  gap: 80px;
  display: flex;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}
@media (max-width: 600px) {
  .hero-img img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .hero-section {
    padding-top: 140px;
  }
}
