.hero {
  min-height: 100vh;
  background: var(--Brand-Purple-Light, #ece8ff);
}

.hero-section {
  padding: 190px 0px 70px 0px;
  gap: 80px;
  display: flex;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
