.features {
  background: var(--Brand-Purple-Light, #ece8ff);
  padding: 80px 100px;
}
.features-heading {
  text-align: center;
  margin-top: 19px;
}

.features-card-heading {
  margin-top: 20px;
}
.features-card-desc {
  margin-top: 10px;
}

.features-tag {
  text-align: -webkit-center;
}
