.footer {
  text-align: -webkit-center;
  padding-top: 80px;
  padding-bottom: 0px;
}
.download-app {
  background: #f7f6ff;
  text-align: left;
}

.footer-text {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.download-app-heading {
  color: white;
  margin-top: 14px;
}

.download-app-Bg {
  position: relative;
}

.download-app img {
  width: 100%;
}

.download-app-text {
  position: absolute;
  top: 0;
  height: 100%;
  align-content: center;
  max-width: 60%;
  padding-left: 5%;
}

.download-app-text>.download-app-links{
  margin-top: 40px;
}

.horizontal-line {
  height: 1px;
  align-self: stretch;
  text-align: center;
  background: rgba(0, 0, 0, 0.12);
}

.footer-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: black;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.footer-end-links {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

@media (max-width: 1000px) {
  .download-app-text>.download-app-links{
    margin-top: 20px;
  }
  
}

@media (max-width: 786px) {
  .footer {
    padding-top: 40px;
  }

  .footer-end {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .download-app-Bg > img {
    display: none;
  }

  .download-app-heading {
    color: black;
  }
  .download-app-text {
    position: relative;
    padding-left: unset;
  }
  .download-app {
    background: unset;
    text-align: -webkit-center;
  }

  .download-app-text > .download-app-links {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .download-app-text {
    max-width: 100%;
  }

  .footer-nav-links {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
}
