body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  /* margin: 0px 100px; */
  /* width: 100%; */
  /* background: goldenrod; */
}

.btn {
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  background: var(--Brand-Purple-Dark, #433896);
  border: 1px solid #433896;
  cursor: pointer;
}